@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --blueish: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
}

body {
  background-color: var(--main-bg);
  display: grid;
  place-items: center;
  min-height: 100vh;
  max-width: 100vw;
  padding: 30px 0 40px;
}

body .card {
  background-color: var(--card-bg);
  border-radius: 12px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

body .card .card_line {
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  max-width: 296px;
}

body .card .card_line img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

body .card .card_line:first-child {
  position: relative;
  height: max-content;
  aspect-ratio: 1/1;
}

body .card .card_line:first-child .card_line__hover {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: absolute;
  background-color: hsla(178, 100%, 50%, 50%);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 12px;
}

body .card .card_line:first-child .card_line__hover img {
  width: 10%;
  height: auto;
}

body .card .card_line:first-child:hover .card_line__hover {
  opacity: 1;
}

body .card .card_line h1 {
  font-size: 23px;
  margin-bottom: 20px;
  color: var(--white);
}

body .card .card_line h1:hover {
  color: var(--cyan);
}

body .card .card_line p {
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 20px;
  color: var(--soft-blue);
  font-weight: 600;
}

body .card .card_line .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--blueish);
}

body .card .card_line .price .price_element {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

body .card .card_line .price .price_element:first-child {
  color: var(--cyan);
}

body .card .card_line .price .price_element:last-child {
  color: var(--soft-blue);
}

body .card .card_line .price .price_element:last-child img {
  width: 15px;
}

body .card .card_line .price .price_element img {
  width: 10px;
  height: auto;
}

body .card .card_line .creator {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px 0 10px;
}

body .card .card_line .creator .creator_element {
  font-size: 18px;
  color: var(--soft-blue);
}

body .card .card_line .creator .creator_element img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--white);
}

body .card .card_line .creator .creator_element a {
  color: var(--white);
  font-size: 15px;
  text-decoration: none;
}

body .card .card_line .creator .creator_element a:hover {
  color: var(--cyan);
}

footer {
  position: fixed;
  bottom: 20px;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  text-align: center;
  color: var(--white);
}

.attribution a {
  color: var(--cyan);
}
